# Build artifacts
.zntc/
node_modules/
*.jsbundle
*.jsbundle.map

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/DerivedData/

# Android
android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/local.properties

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
